<h4 class="font-weight-light py-3 mb-4">
  <%= t('.heading') %> /
  <span class="font-weight-bold"><%= t('.heading_register', id: @contract.id) %></span>
</h4>

<%= render('form', contract: @contract) %>
